.navButtons button {
  cursor: pointer;
  font-size: 20px;
  margin-right: 5px;
  border: none;
}
.navButtons .link {
  background-color: rgba(0,0,0,0.3);
}
.navButtons .link a {
  text-decoration: none;
  color: white;
}
.navButtons .current {
  background-color: rgba(0,0,0,0.5);
  border-bottom: 4px solid #444;
}
