body {
  background-color: #eee;
  max-width: 700px;
}
.heading {
  text-align: center;
  color: #444;
}


.note {
  position: relative;
  left: 0px;
  right: 0px;
  font-size: 20px;
  background-color: #666;
  margin: 8px;
  border-radius: 2px;
  padding: 5px;
  color: #eee;
  height: 30px;
  line-height: 30px;
}
.active {
  border: 4px solid brown;
  opacity: 0.35;
}
.container-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}
.btn {
  color: brown;
  font-size: 25px;
  background-color: #888;
  height: 30px;
  padding-left: 6px;
  padding-top: 0px;
  border-radius: 2px;
  border: none;
}
.btn:hover {
  background-color: #aaa;
  cursor: pointer;
}
.remove-btn {
  float: right;
}
.update-btn, .save-btn {
  position: absolute;
  right: 40px;
  color: #bbb;
}


.form * {
  font-size: 25px;
  margin: 3px;
  padding: 3px 8px 3px 8px;
}
.form {
  margin: 10px;
}
.form input {
  width: 500px;
}
.cancel-btn {
  line-height: 32px;
}
